<% if(success != '') { %>
<div class="alert alert-success" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>
        <%=success%>
    </strong>
</div>
<% } else if(error != '') { %>
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>
        <%=error%>
    </strong>
</div>
<% } else { %>
<div id="custom-alert">
</div>
<% } %>