<head>
    <link rel="stylesheet" href="/stylesheets/404.css">
</head>

<body marginwidth="0" marginheight="0">
    <div id="block_error">
        <div>
            <h2>Không có kết quả!</h2>
            <p style="font-size:16px;">
                Không có kết quả nào trả về cho truy vấn của bạn, hãy thử 
                tìm kiếm các bài viết khác.
            </p>
            <br>
            <a href="/" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</body>