<!-- Open Series Recommendation Btn -->
<button type="button" id="showSeriesRecommend" class="btn btn-primary" data-toggle="modal" data-target="#seriesRecommendModal">
    Bạn đang đọc bài <span class="articleSequence"></span> trong series <span class="seriesName"></span>, click để xem toàn bộ series | <span class="totalArts"></span>
</button>

<!-- Open Course Recommendation Btn -->
<button type="button" id="showCourseRecommend" data-toggle="modal" data-target="#courseRecommendModal" ></button>

<!-- Series Recommendation Modal -->
<div class="modal" id="seriesRecommendModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Series của bạn đang xem</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="series-recommend-list col-md-12">
              
            </div>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="confirmNoSeriesBtn" type="button" data-toggle="modal" 
                  data-target="#seriesComfirmNoModal" data-dismiss="modal"
                  class="btn btn-danger" >Không đúng ?</button>
        </div>
  
      </div>
    </div>
</div>

<!-- Course Recommendation Modal -->
<div class="modal" id="courseRecommendModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                <p>Có lẽ bạn đang khá bận? Đừng lo lắng, để lại email tại đây để nhận Series những bài viết thuộc chủ đề SEO này nhé! Chắc chắn sẽ hữu ích với bạn đấy! 	</p>
                <p><label>Điền Email:</label><input type="text" /></p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <p>Tham khảo các khóa học của GTV SEO:</p>
            </div>
            <div class="col-md-6">
                <a href="https://gtvseo.com/seo-fundamental/" target="_blank">SEO Fundamental</a> 
            </div>
            <div class="col-md-6">
                <a href="https://gtvseo.com/khoa-hoc-seo-entity-mastermind/" target="_blank">Entity Mastermind</a> 
            </div>
          </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</div>

<!-- Series Recommendation Confirm "No" Modal -->
<div class="modal" id="seriesComfirmNoModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Hãy cho chúng tôi hiểu hơn về mục tiêu của bạn</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>Mục Tiêu A</p>
            <p>Mục Tiêu B</p>
            <p>Mục Tiêu C</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Điền Email của bạn để chúng tôi có những tư vấn chính xác hơn</h5>
            <p><input type="text" /></p>
          </div>
        </div>
        <div class="row">
          <div class="series-recommend-list col-md-12">
            
          </div>
        </div>
          
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button id="confirmNoSeriesBtn" type="button" class="btn btn-danger" >Không đúng ?</button> -->
      </div>

    </div>
  </div>
</div>

