#img-List {
    list-style-type: none;
}
#img-List li {
    
    display: inline-block;
    padding: 10px;
}
#img-List li img {
    width: 200px;
    height: 200px;
}
.holder a {
display: inline-block;
  padding: 16px 23px;
  color: #222;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.holder .jp-current {
  background-color: #2ecc71;
  border-radius: 100%;
  color: #fff;
}

.jp-disabled {
  opacity: 0;
}

.checkbox-inline.checkbox-inline, .radio-inline+.radio-inline {
  margin-left: 0;
  margin-right: 7px !important;
}