<!DOCTYPE HTML>
<html lang="vi">

    <% include ../partials/cms/header %>
    <body>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-6">
                    <% include ../partials/pagination %>
                </div>
                <div class="col-md-6">
                    <button id="createSeriesBtn" 
                    data-toggle="modal" data-target="#seriesForm"
                    class="btn btn-success float-right">Thêm Series</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="seriesTable">
                        <table class="table table-striped">
                            <colgroup>
                                <col span="1" style="width: 8%">
                                <col span="1" style="width: 5%">
                                <col span="1" style="width: 15%">
                                <col span="1" style="width: 60%">
                                <col span="1" style="width: 5%">
                                <col span="1" style="width: 7%">
                            </colgroup>
                            <thead class="header-row">
                                <tr>
                                    <th>Tên Series</th>
                                    <th>Tỉ lệ Series</th>
                                    <th>Tên bài viết</th>
                                    <th>URL</th>
                                    <th>Tỉ lệ bài viết</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody class="series-content">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="row">

            </div>
        </div>
        <button type="button" id="showUpdateForm" class="d-none"
        data-toggle="modal" data-target="#seriesForm" ></button>
    </body>

    <!-- Series Recommendation Modal -->
    <div class="modal" id="seriesForm">
        <div class="modal-dialog modal-3x">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin Series</h5>
                    <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <h5>Tên Series </h5>
                            <input id="seriesName" class="form-control" 
                            placeholder="Nhập tên Series"
                            type="text" name="seriesName" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for=seriesRatio>
                                Tỉ lệ
                            </label>
                            <input id="seriesRatio" min="0" max="100"
                                placeholder="0 - 100"
                                class="form-control"  type="number" name="seriesRatio" value="0" />
                        </div>
                        <div class="col-md-6 checkbox">
                            <label class="mt-4 pt-3">
                                <input id="seriesActive" name="seriesActive"
                                type="checkbox" value="" checked="checked">
                                <span class="pl-1">Active</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3" id="seriesArticle">
                        <div class="col-md-12">
                            <h5>Các bài viết trong Series 
                                <i class="fa fa-plus-circle fa-lg pl-2 hover-pointer" 
                                id="createArticlesBtn"></i> 
                            </h5>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead class="header-row">
                                    <tr>
                                        <th>Tên</th>
                                        <th>URL</th>
                                        <th>Title</th>
                                        <th>Image URL</th>
                                        <th>Tỉ lệ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="articles-content">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="submitSeries"
                            class="btn btn-success d-none" >Hoàn Tất</button>
                    <button type="button" id="changeSeries"
                            class="btn btn-success d-none" >Thay đổi</button>
                    <button type="button" id="closeModal" data-dismiss="modal"
                            class="btn btn-danger close-modal" >Đóng</button>
                </div>
        
            </div>
        </div>
    </div>

    <% include ../partials/cms/footer-script %>
</html>