.hover-pointer {
    cursor: pointer;
}

@media (min-width: 992px) {
    .modal-3x {
        max-width: 1250px;
    }
}

.max-width-50 {
    max-width: 50px;
}

.max-width-75 {
    max-width: 75px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-125 {
    max-width: 125px;
}

.max-width-150 {
    max-width: 150px;
}
